<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Website quản lý học sinh</h2>
                <p>Marie Curie tự hào là nơi mang đến sức mạnh về tri thức, nơi nảy sinh những ý tưởng sáng tạo cùng đồng hành học sinh trên con đường học vấn</p>
            </div>
            <div class="footer-section design">
                <h2>Thiết kế</h2>
                <p>Tuyết Mai | Quỳnh Anh | Thị Phú</p>
                <p>DH21IT01- Công nghệ phần mềm</p>
            </div>
            <div class="footer-section contact">
                <h2>Liên hệ</h2>
                <p>Email: <a href="mailto:quanlyhocsinh@gmail.com">quanlyhocsinh@gmail.com</a></p>
                <p>Phone: +89 64248913</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="social-icons">
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>&copy; 2024 THPT Marie Curie Thành Phố Hồ Chí Minh</p>
        </div>
    </div>
</footer>
