<nav class="navbar navbar-expand-sm bg-custom navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div>
                <ul class="menu">
                    <li><a class="sub" href="#" style="color: #bf2642;"><h1>QUẢN LÝ HỌC SINH</h1></a></li>
                </ul>
            </div>
            <div>
                <ul class="menu">
                    <li class="sub"><a href="/" style="color: #bf2642;"><h4>Trang Chủ</h4></a></li>
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            {% if current_user.user_role == UserRole.NV %}
            <div>
                <ul class="menu">
                    <li class="sub"><a href="#" style="color: #bf2642;"><h4>Học Sinh</h4></a>
                        <ul class="menu subcontent">
                            <li></li>
                            <li><a href="/tiep_nhan_hs" style="color: #bf2642;"><h4>Tiếp nhận học sinh</h4></a></li>
                            <li><a href="/hocsinh" style="color: #bf2642;"><h4>Danh sách học sinh</h4></a></li>
                            <li><a href="/danhsachlop" style="color: #bf2642;"><h4>Danh sách lớp</h4></a></li>
                            <li><a href="/lop" style="color: #bf2642;"><h4>Tạo lớp</h4></a></li>
                            <li><a href="/sualop" style="color: #bf2642;"><h4>Sửa lớp cho HS</h4></a></li>
                            <li><a href="/khoi" style="color: #bf2642;"><h4>Tạo số lớp trong khối</h4></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% if current_user.user_role == UserRole.GV %}
            <div>
                <ul class="menu">
                    <li class="sub"><a href="#" style="color: #bf2642;"><h4>Điểm</h4></a>
                        <ul class="menu subcontent">
                            <li></li>
                            <li><a href="/nhapdiem" style="color: #bf2642;"><h4>Nhập điểm</h4></a></li>
                            <li><a href="/bangdiem_nam" style="color: #bf2642;"><h4>Xuất Điểm</h4></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% if current_user.user_role == UserRole.ADMIN %}
            <div>
                <ul class="menu">
                    <li class="sub"><a href="/admin" style="color: #bf2642;"><h4>Quản Trị</h4></a></li>
                </ul>
            </div>
            {% endif %}
            {% endif %}
            {% if current_user.is_authenticated %}
            <div>
                <ul class="menu" style="font-size: 18px">
                    <li>
                        <a class="nav-link text-danger" href="/">
                            {% if current_user.avatar %}
                                <img src="{{ current_user.avatar }}" width="30" alt="{{ current_user.name }}" class="rounded-circle">
                            {% else %}
                                <img src="https://www.m5s.vn/upload/images/anh-meo-cute-hoat-hinh.jpg" width="30" alt="{{ current_user.name }}" class="rounded-circle">
                            {% endif %}
                            {{ current_user.username }}
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="menu">
                    <li><a class="nav-link" href="/signout" style="color: #C71585;"><h4>Đăng Xuất</h4></a></li>
                </ul>
            </div>
            {% else %}
            <div>
                <ul class="menu">
                    <li><a class="nav-link" href="/register" style="color: #C71585;"><h4>Đăng Ký</h4></a></li>
                </ul>
            </div>
            <div>
                <ul class="menu">
                    <li><a class="nav-link" href="/signin" style="color: #C71585;"><h4>Đăng Nhập</h4></a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div style="width: 20%">
            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" name='kw' placeholder="Nhập từ khóa..." style="font-size: 18px">
                <button class="btn btn-custom" type="submit" style="width: 40%; font-size: 18px">Tìm</button>
            </form>
        </div>
    </div>
</nav>