{% extends 'layout/base.html' %}

{% block title %}Thêm Năm Học Mới{% endblock %}

{% block content %}
<br>
<h1 align="center">Thêm Năm Học Mới</h1>
<br>
{% if err_msg %}
<div class="container">
    <div class="alert alert-info" align="center">
        <strong>{{ err_msg }}</strong>
        <input type="text" size="5px" class="an1">
        <a href="/namhoc" class="btn btn-xs btn-primary pull-right" style="font-size: 17px">Đã hiểu !</a>
    </div>
</div>
{% endif %}
<br>
<form method="post" action="/namhoc" class="container">
    <div>
        <div class="flex">
            <label>Nhập năm học mới:</label>
            <input type="text" class="an1" size="1px">
            <input name="namhoc" type="text" size="75px">
        </div>
    </div>
    <br><br><br>
    <div align="center">
        <button type="submit" class="btn btn-custom" style="font-size: 18px">Lưu</button>
        <input type="text" size="8px" class="an1">
        <button class="btn btn-custom" style="font-size: 18px"><a href="/admin" style="color: white">Thoát</a></button>
    </div>
</form>
<br><br><br><br>
{% endblock %}