{% extends 'layout/base.html' %}

{% block title %}TỔNG KẾT MÔN HỌC{% endblock %}

{% block content %}
<br>
    <h1 align="center">BÁO CÁO TỔNG KẾT MÔN HỌC</h1>
<br>
<form method="post" action="/tongket">
    <div class="container flex">
        <div>
            <label>Chọn học kỳ: </label>
            <select name="hk">
                <option value="">Học kỳ</option>
                {% for c in hk %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
        </div>
        <input size="8px" class="an1">
        <div>
            <label>Chọn năm học: </label>
            <select name="namhoc">
                <option value="">Năm học</option>
                {% for c in mangnam1 %}
                <option>{{ c }}</option>
                {% endfor %}
            </select>
        </div>
        <input size="8px" class="an1">
        <div>
            <button type="submit" class="btn btn-custom" style="font-size: 18px">Chọn</button>
        </div>
    </div>
    <br><br>
    <div class="container flex">
        <div>
            <label>Chọn môn học: </label>
            <select name="mh">
                <option value="">Môn học</option>
                {% for c in m %}
                <option>{{ c.tenmh }}</option>
                {% endfor %}
            </select>
        </div>
        <input size="8px" class="an1">
        <div>
            <button type="submit" class="btn btn-custom" style="font-size: 18px">Xác nhận</button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div align="center">
            {% for c in ky1 %}
            <input class="an" align="center" value="{{ c }}" name="ky1" readonly>
            {% endfor %}
            <div align="center">
                {% for c in tenhk %}
                <h2 style="Color: white; background-color: green" align="center">BẢNG TỔNG KẾT HỌC KỲ <input class="inputtieude" align="center" value="{{ c }}" readonly size="1.1" style="Color: white; background-color: green;"></h2>
                {% endfor %}
                {% for c in tennh %}
                <h2 style="Color: white; background-color: green" align="center">NĂM HỌC<input class="inputtieude" align="center" value="{{ c }}" readonly size="7" style="Color: white; text-align: center; background-color: green;"></h2>
                {% endfor %}
            </div>
        </div>
        {% for c in mon1 %}
        <table width="100%">
            <tr>
                <th colspan="5" class="tieudetable">BÁO CÁO TỔNG KẾT MÔN HỌC {{c.tenmh}}</th>
            </tr>
            <tr align="center">
                <th>Lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỉ lệ (%)</th>
            </tr>
            {% for c in mangtk %}
            <tr align="center">
                {% for d in c %}
                <td>{{d}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <h4 align="center">BIỂU ĐỒ BIỂU DIỄN TỈ LỆ ĐẠT CỦA CÁC LỚP</h4>
    <br>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-custom" style="font-size: 18px"><a href="/tongket" style="color: white">Tra tiếp</a></button>
        <input class="an1" type="text" size="8">
        <button class="btn btn-custom" style="font-size: 18px"><a href="/admin" style="color: white">Xong</a></button>
    </div>
</form>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      let data = []
      let n = 0
      let labels = []
      {% for c in mangtenlop %}
           labels.push('{{c}}')
      {% endfor %}
      {% for d in mangtile %}
           data.push({{d}})
      {% endfor %}
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: '# tỉ lệ đạt (%)',
            data: data,
            borderWidth: 1,
            backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
</script>
{% endblock %}